# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.superset/
*.swp
*.swo

# Temp
*.log
*.tmp

# Dependencies
node_modules/

# Build output
dist/
coverage/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
